* {
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;
}

.wrap {
    width: 90%;
    height: 650px;
    margin: 20px auto;
    background: url(운동이미지.webp);
    background-position: center;
    text-align: center;
}
.wrap h1 {
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
}

.wrap .form {
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form label {
    font-size: 18px;
    font-weight: bold;
    color: white;
}
.form .name_form,
.form .heightForm,
.form .weightForm
{
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
}
.form input[type=text] {
    width: 150px;
    height: 28px;
    margin-left: 10px;
    border: none;
}

.form .normal_form p,
.form .excess_weight_form p,
.form .texture_form h2 {
    color: white;
}

.form .texture_form {
    color: white;
    font-size: 24px;
}

.form #btn {
    width: 100px;
    margin-top: 50px;
    border: none;
}
.form #replay {
    width: 100px;
    display: none;
    border: none;
    margin: 50px auto;
}