* {
    margin: 0;
    padding: 0;
}

body {
    background: url(img/cafe.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    width: 100%;
    height: 400px;
    margin: auto;
}

header .ribbon {
    width: 100%;
    height: 400px;
    margin: auto;
}

header img {
    width: 100%;
    height: 400px;
}

header .title {
    width: 100%;
    text-align: center;
    margin-top: -100px;
    color: rgb(176, 168, 162);
}

main {
    width: 80%;
    margin: auto;
    background-color: white;
    border-radius: 50px;
    padding-bottom: 150px;
}

section:nth-of-type(1) {
    width: 100%;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 30px;
}

.dotted {
    width: 90%;
    margin: 40px auto;
    border: 1px dotted gray;
}

section:nth-of-type(2) {
    width: 100%;
    /* margin: 200px auto; */
}

section aside:nth-child(1),
section aside:nth-child(2) {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    text-align: center;
}

aside:nth-child(1) img,
aside:nth-child(2) img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

aside:nth-child(2) img {
    margin-top: 100px;
}

aside:nth-child(1) .banana img {
    background-color: yellow;
}

aside:nth-child(1) .greenTea img {
    background-color: green;
}

aside:nth-child(2) .chocolate img {
    background-color: brown;
}

aside:nth-child(2) .strawberry img {
    background-color: pink;
}

#menu button {
    margin: 5px;
    padding: 8px 12px;
}

#cartArea {
    margin-top: 20px;
    padding-top: 10px;
}

footer {
    color: white;
    margin: 50px auto;
    text-align: center;
}