.wrap {
    width: 980px;
    /* width: 100%; */
    max-width: 1425px;
    height: 600px;
    border: 1px dotted lightblue;
    border-top-right-radius: 30%;
    border-top-left-radius: 30%;
    border-bottom-right-radius: 30%;
    border-bottom-left-radius: 30%;
    background-color: lightblue;
    margin: 60px auto;
    position: relative;
}
.wrap::before {
    content: '';
    width: 90px;
    height: 150px;
    background-color: lightblue;
    position: absolute;
    top: -40px;
    left: 60px;
    border-radius: 50% 50%;
    transform: scaleX(2);
    z-index: 1;
}
.wrap::after {
    content: '';
    width: 90px;
    height: 150px;
    background-color: lightblue;
    position: absolute;
    top: -40px;
    right: 60px;
    border-radius: 50% 50%;
    transform: scaleX(2);
    z-index: 1;
}
.wave1::before {
    content: '';
    width: 90px;
    height: 150px;
    background-color: lightblue;
    position: absolute;
    top: -40px;
    left: 210px;
    border-radius: 50% 50%;
    transform: scaleX(2);
    z-index: 1;
}
.wave1::after {
    content: '';
    width: 90px;
    height: 150px;
    background-color: lightblue;
    position: absolute;
    top: -40px;
    right: 210px;
    border-radius: 50% 50%;
    transform: scaleX(2);
    z-index: 1;
}
.wave2::before {
    content: '';
    width: 90px;
    height: 150px;
    background-color: lightblue;
    position: absolute;
    top: -40px;
    left: 370px;
    border-radius: 50% 50%;
    transform: scaleX(2);
    z-index: 1;
}
.wave2::after {
    content: '';
    width: 90px;
    height: 150px;
    background-color: lightblue;
    position: absolute;
    top: -40px;
    right: 370px;
    border-radius: 50% 50%;
    transform: scaleX(2);
    z-index: 1;
}
.wrap img {
    width: 200px;
    position: absolute;
    bottom: 50px;
    left: 50px;
    z-index: 10;
}
.moves {
    width: 70%;
    margin: -50px auto;
    display: flex;
    justify-content: space-between;
}
.moves #leftBtn {
    width: 220px;
    height: 50px;
    border: none;
    background-color: skyblue;
    display: flex;
    justify-content: space-between;
}
.moves #topBtn {
    width: 210px;
    height: 50px;
    border: none;
    background-color: skyblue;
    display: flex;
    justify-content: space-between;
}
.moves #btn3 {
    width: 100px;
    height: 50px;
    border: none;
    background-color: skyblue;
}
.moves button:nth-child(3),
.moves button:nth-child(4)
{
    width: 150px;
    height: 50px;
    border: none;
    background-color: skyblue;
}
.moves #leftMove,
.moves #topMove
{
    width: 45px;
    height: 30px;
    display: flex;
    margin-top: 6px;
    margin-right: 10px;
}

.arr {
    width: 260px;
    display: flex;
    justify-content: space-between;
}
.arr p {
    width: 40px;
    height: 40px;
    background-color: skyblue;
    position: relative;
    top: -10px;
}
.arr img {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.arr p:nth-of-type(2) {
    transform: rotate(180deg);
}
.arr p:nth-of-type(3) {
    transform: rotate(180deg);
}